@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
}

.container-fluid{
    display: flex;
    background-color: black;
    width: 100%;
    height: 4vw;
    z-index: 1000;
    justify-content: space-between;
    padding: 2vw;
    align-items: center;
    font-size: 25px;
}
.navbar a{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.navbar-nav{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    opacity: 0.8;
}


.cartitem-container{
   border: 1px solid black;
   width: 25%;
   height: 35vw;
   float: right;
   margin-right: 20px;
   margin-top: 10px;
   /* background-color: black; */

}
.cartitem-container h1{
    color: white;
    position: absolute;
    top: 10vw;
  
}
