.search-navbar{
    width:75vw;
    margin-left: 20vw;
    position: absolute;
    top: 4.5vw;
    height: 8vw;
    font-family: Inter,sans-serif;
}
.search-navbar .search input{
    width: 85%;
    height: 3vw;
    font-family: Inter,sans-serif;
}
.search-navbar .search button{
    width: 7%;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 3vw;
    font-family: Inter,sans-serif;
}
.search-navbar .toggle-buttons button{
   margin-top: 10px;
   width: 18%;
   font-size: 1.2vw;
   font-weight: 500;
   height: 2.5vw;
   font-family: Inter,sans-serif;
   border: 1px solid black;
   margin-left: 2px;
   background-color: transparent;
}